{
    "jobs": [
        {
            "functionLocation": "/stripe.js", 
            "functionName": "updateAllMembershipFromStripe",
            "description": "12 am everyday: Update all the membership based on stripe. If the card get cancelled or no longer an member",
            "executionConfig": {
                "cronExpression": "0 0 * * *" 
            }
        },
        {
            "functionLocation": "/usageLogs.js", 
            "functionName": "archiveCallLogs",
            "description": "12 am everyday: Archive call logs older than 8 months",
            "executionConfig": {
                "cronExpression": "0 0 * * *" 
            }
        },
        {
            "functionLocation": "/usageLogs.js", 
            "functionName": "archiveSmsLogs",
            "description": "12 am everyday: Archive sms logs older than 8 months",
            "executionConfig": {
                "cronExpression": "0 0 * * *" 
            }
        }
    ]
}